.cardcontainer{
    border: 1px solid #c9c9c9;
    border-radius: 20px;
    background-color: var(--slds-g-color-surface-1, #ffffff);
}

.wrapLabel{
    white-space: normal;
    text-transform: capitalize;
}

.parentTableHeaderLabel {
    display: flex;
    padding: 0.25rem 0.5rem;
    height: 2rem;
    align-items: center;
    width: fit-content;
    white-space: normal;
}

.parentTable{
    border-bottom: 0;
    border-left: none;
    border-right: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.parentTable th{
    width: 100%;
}

.parentTable td{
    padding-top: 8px;
    padding-bottom: 8px;
} 

.tableContainer {
    overflow-x: auto;
}

.cardBackground {
    background-color: #f6f6f6;
    z-index: 99;
    position: absolute;
    padding: 15px !important;
    margin-top: -55%;
    margin-left: 40%;
    border: 1px solid #cbcbcb !important;
    min-width: max-content;
    max-width: 500px;
}

.hidden {
    display: none;
}

.bottomLink {
    border-top: 1px solid #c9c9c9;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.reloadIcon {
    float: right;
}

.cardHeader {
    float: left;
}

.fixedWidth {
    max-width: 1500px;
    min-width: 700px;
}

.pagenostyle{
    font-size: 13px;
    font-weight: 200;
    line-height: 20px;
    text-align: center;
    color: #181818;
    padding: 8px 14px;
    cursor: pointer;
}

.pagenostyleactive{
    background-color: #f4f6f9;
    color: #181818;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 700;
    padding: 8px 14px;
}